@import 'palette';

@font-face {
    font-family: "Hina Mincho";
    src: url('/fonts/HinaMincho-Regular.ttf');
}

html {
    font-family: "Hina Mincho";
}

.article-content {
  font-size: 1.25rem;
}

// body {
//   background-color: red !important;
// }